# CRUD Operation

In [1]:
from pymongo import MongoClient

In [2]:
# myclient = MongoClient("localhost", 27017)
myclient = MongoClient("mongodb://localhost:27017")

In [3]:
myclient

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
myclient.list_database_names()

['admin', 'config', 'flights', 'hospital', 'local', 'my_store', 'shop']

In [5]:
store_db = myclient.my_store

In [6]:
store_db.users.delete_many({})

DeleteResult({'n': 2, 'ok': 1.0}, acknowledged=True)

### 1. Insert

In [7]:
store_db.users.insert_one(
    {
        "name":"Tom",
        "age":"25"
    }
)

InsertOneResult(ObjectId('66f71c799501d5b72eb9ecc4'), acknowledged=True)

In [8]:
store_db.users.insert_one(
    {
        "name":"Jerry",
        "age": 24
    }
)

InsertOneResult(ObjectId('66f71c799501d5b72eb9ecc5'), acknowledged=True)

### 2. Find

In [9]:
store_db.users.find_one({"name": "Jerry"})

{'_id': ObjectId('66f71c799501d5b72eb9ecc5'), 'name': 'Jerry', 'age': 24}

### 3. Update

In [10]:
store_db.users.update_one({"name":"Tom"}, {"$set":{"name": "Tom Chris", "age":25}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

### 4. Delete

In [11]:
store_db.users.delete_one({"name": "Tom Ball"})

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

### insert() and insertmany()

In [12]:
shop_db = myclient.shop

In [13]:
shop_db.products.delete_many({})

DeleteResult({'n': 3, 'ok': 1.0}, acknowledged=True)

In [14]:
pen = { "name": "Pen", "description": "A ball pen with variety of ink colours options available.", "price": 0.5}

In [15]:
shop_db.products.insert_one(pen)

InsertOneResult(ObjectId('66f71c799501d5b72eb9ecc6'), acknowledged=True)

In [16]:
notebook = {"name":"Notebook", "description":"A notebook to note down your notes.", "price": 5}
school_bag = {"name": "School Bag", "description":"School bag to fit all your stationary", "price":9.99}
shop_db.products.insert_many([notebook, school_bag])

InsertManyResult([ObjectId('66f71c799501d5b72eb9ecc7'), ObjectId('66f71c799501d5b72eb9ecc8')], acknowledged=True)